<mat-list role="list">

    <div class="profile-card">
        <img src="https://pbs.twimg.com/media/FkWtE9zXgAA8Bx-.jpg" alt="no image">
        <h2>Admin</h2>
        <h4>leomessi@gmail.com</h4>
    </div>

    <mat-divider></mat-divider>
    <h4 matSubheader>Pages</h4>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Instituition</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees</a>
  </mat-list>
  
